* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}


ul {
    list-style-type: none;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 480px){
    p{
        font-size: 22px;
    }
    h3{
        font-size: 25px;
    }
}

img{
    width: 500px;
    height: 300px;
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

@media screen and (max-width: 900px) {
    img {
        width: 300px;
        height: 250px;
    }
}
@media screen and (max-width: 480px) {
    img {
        display: none;
    }
}



section {
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    font-size: 32px;
}

header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
#title {
    font-size: 32px;
}
@media screen and (max-width: 480px) {
    #title {
        font-size: 22px;
    }
}
header a {
    color: white;
    margin-right: 8px;
}
@media screen and (max-width: 480px) {
    #historia {
        display: none;
    }
    #relatos {
        display: none;
    }
}
header a:hover{
    text-decoration: dashed;
    color: orange;
}

main{
    background-color: #E5E5E5;
    padding: 20px;
}
@media screen and (max-width: 900px){
    main{
        background-color: gray;
    }
}
@media screen and (max-width: 480px) {
    main {
        background-color: whitesmoke;
    }
}
.description{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
@media screen and (max-width: 480px){
    .description {
        margin-bottom: 15px;
    }
}

.image{
    margin: 12px 0;
    display: flex;
}


.content {
    margin-left: 15px;
    transition: .5s;
    border-radius: 8px;
    padding: 25px;
}

.content h3{
    text-align: center;
    font-weight: 700;
    margin-bottom: 12px;
    transition: .3s;
}
.content:hover h3{
    color: orange;
    
}
.content:hover{
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    border: 1px solid black;
    
}

@media screen and (max-width: 900px){
    #section2 .image img{
        display: none;
    }
}
@media screen and (max-width: 480px){
    #section2{
        display: none;
    }
}


#section2 p{
    text-align: justify;
    padding: 8px;
}

#section3 {
    transition: .3s;
    border-radius: 8px;
    padding: 25px;
}
#section3 div{
    margin-bottom: 12px;
    padding: 5px;
}

#section3 h3{
    transition: .5s;
}

#section3 div:hover h3{
    color: orange;
}

    

#section3 i {
    margin-right: 8px;
}


#section3:hover {
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    border: 1px solid black;
}

#contatos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 15px;
}
@media screen and (max-width: 900px){
    #contatos{
        flex-direction: column;
    }
}

#contatos h3 {
    margin-right: 8px;
}

#contatos p {
    margin-right: 12px;
    transition: .3s;
}
@media screen and (max-width: 900px){
    #contatos p {
        margin-bottom: 12px;
    }
}

#contatos p:hover{
    color: orange;
}

.frase-conteiner{
    background-color: #DDD;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 12px;
    transition: .5s;
}
@media screen and (max-width: 900px){
    .frase-conteiner{
        background-color: gray;
        border: none;
        
    }
}

.frase-conteiner:hover{
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    border: 1px solid orange;
}
.frase-container p {
    transition: .3s;
}

.frase-conteiner:hover p{
    color: orange;
}

.frase-conteiner blockquote {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 6px;
}

footer{
    padding: 15px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    background-color: #E5E5E5;
    transition: .5s;
}
@media screen and (max-width: 900px){
    footer{
        background-color: gray;
    }
}
@media screen and (max-width: 480px){
    footer{
        background-color: whitesmoke;
    }
}

footer p:hover{
    color: orange;
}